@media (max-width:1550px) {
  .pc-brand strong{font-size:12px;white-space:nowrap;letter-spacing:-.15px}
  .pc-matrix-grid{grid-auto-rows:46px}
  .pc-matrix .pc-denominator{bottom:9px}
}

@media (max-width:1320px) {
  .pc-brand strong{font-size:12px;white-space:nowrap}
  .pc-matrix-grid{grid-auto-rows:36px}
  .pc-matrix .pc-denominator{bottom:12px}
  .pc-inspector-head strong{display:block!important;color:var(--ovc-text-primary);font-size:9px;line-height:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
}
